body{
  margin: 0px;
  }

h1{
  margin: 0px;
}
.top-container{
  background-color: orange;
  width: 200px;
  height: 200px;
  padding: 20px;
  border :solid 10px;
}
.mid-container{
  background-color: blue;
  width: 200px;
  height: 200px;
  border: solid 20px;
  margin-left: 260px;
}
.bottom-container{
  background-color: green;
  width: 200px;
  height: 200px;
  border: solid 10px;
  margin-left: 500px
}
